#root {
  display: flex;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #4b3210;
}

.app {
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.value {
  text-align: center;
  font-size: 72px;
}

input[type=number] {
  width: 100%;
  height: 35px;
  border: none;
}

.btn {
  background-color: #fce295;
  color: #4b3210;
  touch-action: none;
}

ul {
  list-style: none;
}

.resultLine {
  margin: 0;
  padding: 0;
}
